<a class="btn btn-danger" href="/Student/Index">Students</a>
<br />
<br />
<a class="btn btn-danger" href="/Student/Add">ADD Students</a>
<br />
<br />
<a class="btn btn-danger" href="/Department/Index">Departments</a>
<br />
<br />
<a class="btn btn-danger" href="/Department/Add">ADD Department</a>