<div class="container-fluid" align="center" style="padding-top: 25vh;">
    <a class="btn btn-info btn-lg" href="/Student/Index">Students</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="btn btn-info btn-lg" href="/Student/Add">ADD Students</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="btn btn-info btn-lg" href="/Department/Index">Departments</a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="btn btn-info btn-lg" href="/Department/Add">ADD Department</a>
</div>